<h1>About Page <span class="glyphicon glyphicon-thumbs-up"></span></h1>

<div class="row">
  <div class="col-md-10 main">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum deserunt repellat qui vitae et impedit sunt libero ab non maiores rem blanditiis incidunt laudantium quas ipsam, accusamus necessitatibus, magni architecto!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum deserunt repellat qui vitae et impedit sunt libero ab non maiores rem blanditiis incidunt laudantium quas ipsam, accusamus necessitatibus, magni architecto!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum deserunt repellat qui vitae et impedit sunt libero ab non maiores rem blanditiis incidunt laudantium quas ipsam, accusamus necessitatibus, magni architecto!</p>

  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>

  </div>



  <div class="col-md-2 side"><%== nav_menu %></div>
</div>