<h1 class="x" id="y">Intro to HAML</h1>

%h1.x#y Intro to HAML

%strong= 2 ** 64
%p
%strong 2 ** 64

HAML
%input.form-input{:placeholder => 'Your message here', :autofocus => true}

HTML
<input class="form-input" placeholder ="Your message here"

