#container {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#gallow img {
  height: 400px;
  width: 441px;
}

#alphabet {
  text-align: center;
  font-size: 2em;
}

#game {
  font-size: 1.5em;
  font-variant: small-caps;
  color: red;
  text-decoration: blink;
}