<h2>Sassy Thoughts Blog</h2>

<div class="post">
  <h2 class="slug">Some Title</h2>
  <div class="content">
    <p="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facilis expedita quo, excepturi inventore at. Voluptatibus optio fugiat, voluptatum, cum dolor sed quae exercitationem possimus ducimus? Neque quos officia, provident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sit necessitatibus quaerat distinctio beatae accusamus quae voluptates eos. Laborum voluptatum, debitis dolore sint obcaecati rem eaque ea cupiditate odit qui!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some Title</h2>
  <div class="content">
    <p="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facilis expedita quo, excepturi inventore at. Voluptatibus optio fugiat, voluptatum, cum dolor sed quae exercitationem possimus ducimus? Neque quos officia, provident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sit necessitatibus quaerat distinctio beatae accusamus quae voluptates eos. Laborum voluptatum, debitis dolore sint obcaecati rem eaque ea cupiditate odit qui!</p>
  </div>
</div>

<div class="post">
  <h2 class="slug">Some Title</h2>
  <div class="content">
    <p="first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facilis expedita quo, excepturi inventore at. Voluptatibus optio fugiat, voluptatum, cum dolor sed quae exercitationem possimus ducimus? Neque quos officia, provident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sit necessitatibus quaerat distinctio beatae accusamus quae voluptates eos. Laborum voluptatum, debitis dolore sint obcaecati rem eaque ea cupiditate odit qui!</p>
  </div>
</div>

<div class="notification">This is a notice</div>
<div class="error">This is an error</div>
<div class="success">This is success</div>