<h1>Tell me all your secrets</h1>

<div id="main"></div>

<script type="text/x-handlebars-template" id="appView">

  <!-- AppView -->
  <div id="new-secret"></div>
  <ul id="secrets"></ul>

</script>

<script type="text/x-handlebars-template" id="newSecretTemplate">

  <!-- New Secret Form -->
  <form>
    <textarea rows="4" placeholder="Confess your secret anonymously..."></textarea>
    <button class="go">Shuush....</button>
    <button class="stop">Stahhhp</button>
  </form>

</script>


