html, body {
  background-color: grey;
}

.container {
  text-align: center;
  max-width: 640px;
  margin: auto;
}

textarea {
  display: block;
  margin: auto;
  width: 80%;
}

button {
  width: 82%;
  margin-top: 10px;
  border-radius: 20px;
  padding: 20px;
  display: block;
  margin: auto;
  width: 80%;
}