#stage {
    background-color:#cccccc;
    border:1px solid black;
    height:170px;
    width:600px;
    position:relative;
    z-index:0;
    -webkit-user-select: none;
  }
  
  .character {
    height:50px;
    width:40px;
    position:absolute;
    top:120px;
    background-repeat:no-repeat;
    background-position:0 0;
    -webkit-user-select: none;
  }
  
  #j {
    left:100px;
    background-image: url('http://www.joustmultimedia.com/tutorials/spriting/j.png');
  }
  
  #j2 {
    left:200px;
    background-image: url('http://www.joustmultimedia.com/tutorials/spriting/j2.png');
  }
  
  #j3 {
    left:300px;
    background-image: url('http://www.joustmultimedia.com/tutorials/spriting/j3.png');
  }
  
  #j4 {
    left:400px;
    background-image: url('http://www.joustmultimedia.com/tutorials/spriting/j4.png');
  }